__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.installed.cfg
*.egg
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.git
.hg
.mypy_cache
.hypothesis
.pytest_cache
venv/
env/
.venv/
staticfiles/
node_modules/
.DS_Store
